* {
    background-color: #D9D3B8;
    flex-wrap: wrap;
    flex-direction: column;
}
body {
    text-align: center;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;  
     
}

h1{
    color: #59512a;
    font-family: 'Lilita One', cursive;
    font-size: 75px;
}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 40%;
    margin-right: 40%;
}


header>nav {
    font-family: 'Lilita One', cursive;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
    text-align: center;
    font-size: 25px;
    margin: 0px;
    
}

header>nav>a {
    text-decoration: none;
    text-transform:lowercase;
    color: #732f2f;
    padding: 55px;
}


img {
    align-items: center;
    
}

.container {
    margin-left: 0%;
    margin-right: 0%;
    flex-direction: column;
}

.star-gif {
    align-items: center;
    display: flex;
    justify-content: center;
}


a {
    
    font-family: 'Lilita One', cursive;
    text-decoration: none;
    color: #732f2f;

}